@model string

<div class="section-heading">
    <p>Advanced</p>
    <h2>Build Layered SPA Application with ASP.NET Core and Angular in a Real-Word Example</h2>
</div>
<p>
    In this @Model we will show how to build layered SPA web application on ASP.NET Core and Angular Web application using Entity Framework.
    By the end of the @Model, we will have SPA web application which implemented crm application implemented on dashboard customer pages with SAAS architecture.
</p>
<p>
    You'll learn how to:
    Create REST API application with ASP.NET Core Web API-
    Single Page Application with Angular-
    CQRS and MediatR Design Patterns-
    CoreUI Dashboard theme implementation-
    Apply Clean Architecture with SOLID and Clean Code-
    Domain Driven Design (Layers and Domain Model Pattern)-
    Repository and Generic Repository-
    Full development of crm use cases of northwind database-
    Business rule check, domain policy apply and validations-
    Authentication, identity module and identity configuration      
</p>