@model string

<div class="section-heading">
    <p>Beginner</p>
    <h2>Build Web Application with ASP.NET Core, Entity Framework Core in a Real-Word Example</h2>
</div>
<p>
    In this @Model we will show how to build web application on ASP.NET Core Web application using Entity Framework and Razor Pages.
    By the end of the @Model, we will have an web application which implemented mini e-commerce pages over Product,Category and Contact entities.
</p>
<p>
    You'll learn how to:
    Create an ASP.NET Core Web Application Project-
    Work with a Database using Entity Framework Core-
    Bootstrap 4 Theme Implementation-
    ASP.NET Core Identity Scaffolding and Identity Configuration-
    Authorization for Pages-
    ASP.NET Core Razor Tools - View Components, partial Views, Tag Helpers, Model Bindings and Validations, Razor Sections etc..
    At the end, you'll have a working web application running on your local machine.
</p>