@model string

<div class="section-heading">
    <p>Intermediate</p>
    <h2>Build Layered Architecture with ASP.NET Core, Entity Framework Core in a Real-Word Example</h2>
</div>
<p>
    In this @Model we will show how to build layered web application on ASP.NET Core Web application using Entity Framework and Razor Pages.
    By the end of the @Model, we will have an web application which implemented e-commerce demonstrating a layered application architecture with DDD best practices.
</p>
<p>
    You'll learn how to:
    Apply Clean Architecture with SOLID and Clean Code-
    Domain Driven Design (Layers and Domain Model Pattern)-
    Repository and Generic Repository-
    Specification Pattern-
    Unit of Work-
    E&E e-commerce theme implementation-
    Full development of e-commerce use cases of northwind database-
    Business rule check, domain policy apply and validations-
    Authentication, identity module and identity configuration-
    Asp.net core built-in dependency injection-
    Authorization for Products Page-
    Aspnet core razor tools - View Components, partial Views, Tag Helpers, Model Bindings and Validations, Razor Sections etc..
</p>
