<!-- ***** Download Sample Start ***** -->
<section class="mosh-call-to-action-area bg-img bg-overlay section_padding_10_10" style="background-image: url(img/bg-img/cta.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cta-content text-center wow fadeIn">
                    <div class="section-heading">
                        <p>Sample Book</p>
                        <h3 style="color:#fff">Do you want to see Sample Book ?</h3>
                        <a asp-page="DownloadSample" class="btn mosh-btn">Download Free Book</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Download Sample End ***** -->