@page
@{
    ViewData["Title"] = "About";
}

<!-- ***** Welcome Area Start ***** -->
<section class="welcome_area clearfix" id="home" style="height:100px; background-image: url(img/bg-img/welcome-bg.png)">
</section>
<!-- ***** Welcome Area End ***** -->
<!-- ***** AspnetRun Basic RealWorld Start ***** -->
<section class="mosh-aboutUs-area section_padding_50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="mosh-about-us-content">
                    <div class="section-heading">
                        <p>about</p>
                        <h2>What is AspnetRun ?</h2>
                    </div>
                    <p style="font-size:20px">
                        A starter kit for your next ASP.NET Core web application. Boilerplate for ASP.NET Core reference application with Entity Framework Core, demonstrating a layered application architecture with DDD best practices.
                        There are 6 asp.net core repositories from beginner to senior level in order to leverage your asp.net core skills and demonstrate real-world implementations.
                        Check all AspnetRun repositories on Github
                        Check AspnetRun web site to download e-book that explains step-by-step development of real-world examples.
                    </p>

                    <iframe src="https://ghbtns.com/github-btn.html?user=aspnetrun&type=follow&count=true&size=large" frameborder="0" scrolling="0" width="200px" height="30px"></iframe>
                    <iframe src="https://ghbtns.com/github-btn.html?user=aspnetrun&repo=run-aspnetcore&type=star&count=true&size=large" frameborder="0" scrolling="0" width="130px" height="30px"></iframe>
                          
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ***** AspnetRun Basic RealWorld End ***** -->
