@page
@{
    ViewData["Title"] = "Articles";
}

<!-- ***** Welcome Area Start ***** -->
<section class="welcome_area clearfix" id="home" style="height:100px; background-image: url(img/bg-img/welcome-bg.png)">
</section>
<!-- ***** Welcome Area End ***** -->
<!-- ***** AspnetRun Basic Start ***** -->
<section class="mosh-aboutUs-area section_padding_50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="mosh-about-us-content">
                    <div class="section-heading">
                        <p>Beginner</p>
                        <h2>Getting Started with ASP.NET Core, Entity Framework Core and Razor Pages</h2>
                    </div>
                    <p>
                        In this article we will show how to perform CRUD operations on ASP.NET Core Web application using Entity Framework and Razor Pages.
                        By the end of the article, we will have an web application which implemented basic CRUD operations over Product and Category entities.
                    </p>
                    <p>
                        You'll learn how to:
                        Create an ASP.NET Core Web Application Project
                        Work with a Database using Entity Framework Core
                        Create Razor Page Template for listing data
                        Create 3-Layered Architecture in one solution
                        Seed the Database when Application Startup
                        At the end, you'll have a working web application running on your local machine.
                    </p>

                    <a href="https://github.com/aspnetrun/run-aspnetcore-basic" class="btn mosh-btn mosh-btn-2 mt-50">Article</a>
                    <a asp-page="BuyBook" class="btn mosh-btn mosh-btn-2 mt-50">Download Book</a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="mosh-about-us-thumb wow fadeInUp" data-wow-delay="0.5s">
                    <img src="img/bg-img/basic.gif" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** AspnetRun Basic End ***** -->
<!-- ***** AspnetRun Basic RealWorld Start ***** -->
<section class="mosh-aboutUs-area section_padding_50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="mosh-about-us-content">
                    <partial name="_BasicPartial" model="@("Article")" />

                    <a href="https://github.com/aspnetrun/run-aspnetcore-basic" class="btn mosh-btn mosh-btn-2 mt-50">Article</a>
                    <a asp-page="BuyBook" class="btn mosh-btn mosh-btn-2 mt-50">Download Book</a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="mosh-about-us-thumb wow fadeInUp" data-wow-delay="0.5s">
                    <img src="img/bg-img/basic_realworld.gif" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** AspnetRun Basic RealWorld End ***** -->
<partial name="_DownloadSamplePartial" />
<!-- ***** AspnetRun Core Start ***** -->
<section class="mosh-aboutUs-area section_padding_50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="mosh-about-us-content">
                    <div class="section-heading">
                        <p>Intermediate</p>
                        <h2>Layered Architecture with ASP.NET Core, Entity Framework Core and Razor Pages</h2>
                    </div>
                    <p>
                        In this article we will show how to perform CRUD operations on ASP.NET Core Web application using Entity Framework and Razor Pages.
                        By the end of the article, we will have an web application which implemented basic CRUD operations over Product and Category entities.
                    </p>
                    <p>
                        You'll learn how to:
                        Create an ASP.NET Core Web Application Project
                        Work with a Database using Entity Framework Core
                        Create Razor Page Template for listing data
                        Create 3-Layered Architecture in one solution
                        Seed the Database when Application Startup
                        At the end, you'll have a working web application running on your local machine.
                    </p>

                    <a href="https://github.com/aspnetrun/run-aspnetcore-basic" class="btn mosh-btn mosh-btn-2 mt-50">Article</a>
                    <a asp-page="BuyBook" class="btn mosh-btn mosh-btn-2 mt-50">Download Book</a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="mosh-about-us-thumb wow fadeInUp" data-wow-delay="0.5s">
                    <img src="img/bg-img/basic.gif" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** AspnetRun Core End ***** -->
<!-- ***** AspnetRun Core RealWorld Start ***** -->
<section class="mosh-aboutUs-area section_padding_50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="mosh-about-us-content">
                    <partial name="_CorePartial" model="@("Article")" />

                    <a href="https://github.com/aspnetrun/run-aspnetcore-basic" class="btn mosh-btn mosh-btn-2 mt-50">Article</a>
                    <a asp-page="BuyBook" class="btn mosh-btn mosh-btn-2 mt-50">Download Book</a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="mosh-about-us-thumb wow fadeInUp" data-wow-delay="0.5s">
                    <img src="img/bg-img/core_realworld.gif" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** AspnetRun Core RealWorld End ***** -->
<partial name="_DownloadSamplePartial" />
<!-- ***** AspnetRun Core Angular Start ***** -->
<section class="mosh-aboutUs-area section_padding_50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="mosh-about-us-content">
                    <div class="section-heading">
                        <p>Intermediate</p>
                        <h2>SPA with ASP.NET Core and Angular</h2>
                    </div>
                    <p>
                        In this article we will show how to perform CRUD operations on ASP.NET Core Web application using Entity Framework and Angular.
                        By the end of the article, we will have an web application which implemented basic CRUD operations over Product and Category entities.
                    </p>
                    <p>
                        You'll learn how to:
                        Create an ASP.NET Core Web Application Project
                        Work with a Database using Entity Framework Core
                        Create Angular Application Template for listing data
                        Create 3-Layered Architecture in one solution
                        Seed the Database when Application Startup
                        At the end, you'll have a working web application running on your local machine.
                    </p>

                    <a href="https://github.com/aspnetrun/run-aspnetcore-basic" class="btn mosh-btn mosh-btn-2 mt-50">Article</a>
                    <a asp-page="BuyBook" class="btn mosh-btn mosh-btn-2 mt-50">Download Book</a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="mosh-about-us-thumb wow fadeInUp" data-wow-delay="0.5s">
                    <img src="img/bg-img/basic.gif" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** AspnetRun Core Angular End ***** -->
<!-- ***** AspnetRun Core Angular RealWorld Start ***** -->
<section class="mosh-aboutUs-area section_padding_50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="mosh-about-us-content">
                    <partial name="_AngularPartial" model="@("Article")" />

                    <a href="https://github.com/aspnetrun/run-aspnetcore-basic" class="btn mosh-btn mosh-btn-2 mt-50">Article</a>
                    <a asp-page="BuyBook" class="btn mosh-btn mosh-btn-2 mt-50">Download Book</a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="mosh-about-us-thumb wow fadeInUp" data-wow-delay="0.5s">
                    <img src="img/bg-img/core_realworld.gif" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** AspnetRun Core Angular RealWorld End ***** -->
<!-- ***** Features Area Start ***** -->
<section class="mosh-about-features-area section_padding_100">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-12 col-md-4">
                <div class="mosh-features-thumb wow fadeIn" data-wow-delay="0.5s">
                    <img src="img/bg-img/features-2.png" alt="">
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="mosh-about-us-content">
                    <div class="section-heading">
                        <p>Medium Support</p>
                        <h2>Please support us on Medium AspnetRun publication</h2>
                    </div>
                    <div class="row">
                        <!-- Single Feature Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-feature-area d-flex">
                                <div class="feature-icon mr-30">
                                    <img src="img/core-img/like.png" alt="">
                                </div>
                                <div class="feature-content">
                                    <h5>Claps Article</h5>
                                    <p>If you like these articles, lets clap for us.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Feature Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-feature-area d-flex">
                                <div class="feature-icon mr-30">
                                    <img src="img/core-img/settings-2.png" alt="">
                                </div>
                                <div class="feature-content">
                                    <h5>Ask Us</h5>
                                    <p>If you have any doubt, you can directly put comment.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="https://github.com/aspnetrun" class="btn mosh-btn mt-50">Check Medium Page</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Area End ***** -->
<partial name="_DownloadSamplePartial" />