@page
@{
    ViewData["Title"] = "BuyBook";
}

<!-- ***** Welcome Area Start ***** -->
<section class="welcome_area clearfix" id="home" style="height:100px; background-image: url(img/bg-img/welcome-bg.png)">
</section>
<!-- ***** Welcome Area End ***** -->
<!-- ***** AspnetRun Basic RealWorld Start ***** -->
<section class="mosh-aboutUs-area section_padding_50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="mosh-about-us-content">
                    <div class="section-heading">
                        <p>payment</p>
                        <h2>Buy me a Coffee</h2>
                    </div>
                    <p style="font-size:20px">

                        I spent more than 200+ hour when creating this products over the almost 15 years .net experience. Its include writing 1000+ line aspnetrun repositories on github, articles of repositories, step-by-step development of books..
                        Finally I can manage to create a path which can be very useful when you become a master of asp.net core and angular. It will prepare you to real-world jobs with explanation of step-by-step real-world applications.
                        You are going to buy this experience of journey very cheap !
                    </p>

                    <div class="list-group">
                        <a href="https://www.buymeacoffee.com/1EAYrdafF" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Buy Me 1x Coffee</h5>
                                <small class="text-muted">aspnetrun basic</small>
                            </div>
                            <p class="mb-1">Book: Build Web Application with ASP.NET Core, Entity Framework Core in a Real-Word Example</p>
                            <small class="text-muted">Step by step development of aspnetrun-basic-realworld repository.</small>
                        </a>
                        <a href="https://www.buymeacoffee.com/1EAYrdafF" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Buy Me 2x Coffee</h5>
                                <small class="text-muted">aspnetrun core</small>
                            </div>
                            <p class="mb-1">Book: Build Layered Architecture with ASP.NET Core, Entity Framework Core in a Real-Word Example</p>
                            <small class="text-muted">Step by step development of aspnetrun-core-realworld repository.</small>
                        </a>
                        <a href="https://www.buymeacoffee.com/1EAYrdafF" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Buy Me 3x Coffee</h5>
                                <small class="text-muted">aspnetrun angular</small>
                            </div>
                            <p class="mb-1">Book: Build Layered SPA Application with ASP.NET Core and Angular in a Real-Word Example</p>
                            <small class="text-muted">Step by step development of aspnetrun-angular-realworld repository.</small>
                        </a>
                    </div>
                    <div class="alert alert-warning" role="alert">
                        Provide your mail into buymeacoffee message.
                        I will send the book via mail in 24 hours. If not please <a asp-page="Contact">contact with me</a> directly.
                    </div>                   


                    <style>
                        .bmc-button img {
                            width: 35px !important;
                            margin-bottom: 1px !important;
                            box-shadow: none !important;
                            border: none !important;
                            vertical-align: middle !important;
                        }

                        .bmc-button {
                            padding: 7px 5px 7px 10px !important;
                            line-height: 35px !important;
                            height: 51px !important;
                            min-width: 217px !important;
                            text-decoration: none !important;
                            display: inline-flex !important;
                            color: #FFFFFF !important;
                            background-color: #FF813F !important;
                            border-radius: 5px !important;
                            border: 1px solid transparent !important;
                            padding: 7px 5px 7px 10px !important;
                            font-size: 20px !important;
                            letter-spacing: -0.08px !important;
                            box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
                            -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
                            margin: 0 auto !important;
                            font-family: 'Lato', sans-serif !important;
                            -webkit-box-sizing: border-box !important;
                            box-sizing: border-box !important;
                            -o-transition: 0.3s all linear !important;
                            -webkit-transition: 0.3s all linear !important;
                            -moz-transition: 0.3s all linear !important;
                            -ms-transition: 0.3s all linear !important;
                            transition: 0.3s all linear !important;
                        }

                            .bmc-button:hover, .bmc-button:active, .bmc-button:focus {
                                -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
                                text-decoration: none !important;
                                box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
                                opacity: 0.85 !important;
                                color: #FFFFFF !important;
                            }
                    </style><link href="https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" rel="stylesheet"><a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/1EAYrdafF"><img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Buy me a coffee"><span style="margin-left:15px;font-size:19px !important;">Buy me a coffee</span></a>



                </div>
            </div>

        </div>
    </div>
</section>
<!-- ***** AspnetRun Basic RealWorld End ***** -->
