@page
@{
    ViewData["Title"] = "Home page";
}

<!-- ***** Welcome Area Start ***** -->
<section class="welcome_area clearfix" id="home" style="background-image: url(img/bg-img/welcome-bg.png)">
    <div class="hero-slides owl-carousel">
        <!-- Single Hero Slides -->
        <div class="single-hero-slide d-flex align-items-end justify-content-center">
            <div class="hero-slide-content text-center">
                <h2>Best path to leverage your asp.net skills</h2>
                <h4>Download latest real world asp.net core angular books !</h4>
                <img class="slide-img" src="img/bg-img/device.png" alt="">
            </div>
        </div>
        <!-- Single Hero Slides
        <div class="single-hero-slide d-flex align-items-end justify-content-center">
            <div class="hero-slide-content text-center">
                <h2>A Clean and Modern Template</h2>
                <h4>Get your freebie template now!</h4>
                <img class="slide-img" src="img/bg-img/device.png" alt="">
            </div>
        </div>
            -->
    </div>
</section>
<!-- ***** Welcome Area End ***** -->
<!-- ***** Service Area Start ***** -->
<section class="mosh-service-area clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="mosh-service-slides owl-carousel">
                    <!-- Single Service Area -->
                    <div class="single-service-area text-center">
                        <h2>01.</h2>
                        <h4>AspnetRun Basic</h4>
                        <p style="font-size:15px;color:darkgray;">Web application in a one solution and one project with ASP.NET Core & Entity Framework Core which used main components; razor pages, middlewares, dependency injection, configuration, logging.</p>
                    </div>
                    <!-- Single Service Area -->
                    <div class="single-service-area text-center">
                        <h2>02.</h2>
                        <h4>AspnetRun Core</h4>
                        <p style="font-size:15px;color:darkgray;">Boilerplate for ASP.NET Core reference application, demonstrating a layered application architecture with DDD best practices.implements best practices on Clean Architecture, with applying SOLID principles.</p>
                    </div>
                    <!-- Single Service Area -->
                    <div class="single-service-area text-center">
                        <h2>03.</h2>
                        <h4>AspnetRun Angular</h4>
                        <p style="font-size:15px;color:darkgray;">Enterprise Web Application infrastructure for ASP.NET Core and Angular. Boilerplate for ASP.NET Core + Angular reference application, demonstrating a layered application architecture with DDD best practices.</p>
                    </div>
                </div>
            </div>
            <!-- Discover More btn -->
            <div class="col-12 text-center mt-50">
                <a asp-page="Discover" class="btn mosh-btn-big">Discover Books</a>
            </div>
        </div>
    </div>
</section>
<!-- ***** Service Area End ***** -->
<!-- ***** Workflow Area Start ***** -->
<section class="mosh-workflow-area section_padding_50 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mb-0">
                    <p>Our Work Flow</p>
                    <h2>The Path of the Mastering Aspnet Core and Angular</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="workflow-img">
        <img src="img/core-img/work-progress.png" alt="">
    </div>

    <div class="workflow-slides-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="mosh-workflow-slides owl-carousel">
                        <!-- Single Service Area -->
                        <div class="single-workflow-area d-flex">
                            <h2>1.</h2>
                            <div class="workflow-content ml-15">
                                <h4>Learn Basics</h4>
                                @*<p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul.</p>*@
                                <p>AspnetRun Basic repository, learn all aspects in a one solution with ASP.NET Core & Entity Framework Core with Razor Pages.</p>
                            </div>
                        </div>
                        <!-- Single Service Area -->
                        <div class="single-workflow-area d-flex">
                            <h2>2.</h2>
                            <div class="workflow-content ml-15">
                                <h4>Core Fundemantals</h4>
                                <p>AspnetRun Core repository, learn layered application architecture with DDD best practices.Implements best practices on Clean Architecture, with applying SOLID principles.</p>
                            </div>
                        </div>
                        <!-- Single Service Area -->
                        <div class="single-workflow-area d-flex">
                            <h2>3.</h2>
                            <div class="workflow-content ml-15">
                                <h4>Full Stack with Angular</h4>
                                <p>AspnetRun Angular repository, learn Enterprise Web Application infrastructure for ASP.NET Core and Angular. Boilerplate for ASP.NET Core + Angular reference application.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Workflow Area End ***** -->
<!-- ***** Features Area Start ***** -->
<section class="mosh-features-area section_padding_50_20 clearfix">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-12 col-md-6">
                <div class="section-heading">
                    <p>Jobs</p>
                    <h2>Onboarding to Full Stack .Net Core Developer jobs</h2>
                </div>
                <div class="features-content">
                    <p>
                        This series of books prepared you to real-world jobs in any level. It proceeds with Junior to Full-Stack level. You can start from scratch of asp.net core and onboard yourself the full stack positions of asp.net core jobs or if you have infrastructure of asp.net core, you will be expand your skills with advanced books which include best practices implemented design patterns, clean architecture, SOLID principles etc..
                    </p>
                    <!-- Progress Bar Content Area -->
                    <div class="features-progress-bar mt-50">
                        <!-- Single Progress Bar -->
                        <div class="single_progress_bar mb-15 wow fadeInUp" data-wow-delay="0.2s">
                            <p>Junior .Net Core Developer</p>
                            <div id="bar1" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="60"></span>
                            </div>
                        </div>
                        <!-- Single Progress Bar -->
                        <div class="single_progress_bar mb-15 wow fadeInUp" data-wow-delay="0.4s">
                            <p>Senior .Net Core Developer</p>
                            <div id="bar2" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="80"></span>
                            </div>
                        </div>
                        <!-- Single Progress Bar -->
                        <div class="single_progress_bar mb-15 wow fadeInUp" data-wow-delay="0.6s">
                            <p>Full Stack .Net Core Developer</p>
                            <div id="bar3" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="100"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature Thumb -->
    <div class="features-img">
        <img src="img/bg-img/job.png" alt="" style="bottom:10px">
    </div>
</section>
<!-- ***** Feature Area End ***** -->
<!-- ***** Service Area Start ***** -->
<section class="mosh-more-services-area d-sm-flex clearfix">
    <div class="single-more-service-area">
        <div class="more-service-content text-center wow fadeInUp" data-wow-delay=".1s">
            <img src="img/core-img/trophy.png" alt="">
            <h4>Github Community</h4>
            <p>Update repositories with every version of ASP.Net Core and Angular.</p>
        </div>
    </div>
    <div class="single-more-service-area">
        <div class="more-service-content text-center wow fadeInUp" data-wow-delay=".4s">
            <img src="img/core-img/edit.png" alt="">
            <h4>Step by Step Documentation</h4>
            <p>Update documents in any changes of the repositories with step by step explanation.</p>
        </div>
    </div>
    <div class="single-more-service-area">
        <div class="more-service-content text-center wow fadeInUp" data-wow-delay=".7s">
            <img src="img/core-img/video-camera.png" alt="">
            <h4>RealWorld Design</h4>
            <p>Use the real-world templates which already using enterprice applications.</p>
        </div>
    </div>
    <div class="single-more-service-area">
        <div class="more-service-content text-center wow fadeInUp" data-wow-delay="1s">
            <img src="img/core-img/presentation.png" alt="">
            <h4>Onboarding Jobs</h4>
            <p>Preapare for specific asp.net core jobs which include software architecture best practices.</p>
        </div>
    </div>
</section>
<!-- ***** Service Area End ***** -->
<!-- ***** CTA Area Start ***** -->
<section class="mosh-call-to-action-area bg-img bg-overlay section_padding_100" style="background-image: url(img/bg-img/cta.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cta-content text-center wow fadeIn">
                    <div class="section-heading">
                        <p>Sample Book</p>
                        <h2>Do you want to see Sample Book ?</h2>
                        <a asp-page="DownloadSample" class="btn mosh-btn">Download Free Book</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** CTA Area End ***** -->