@page
@{
    ViewData["Title"] = "OpenSource";
}

<!-- ***** Welcome Area Start ***** -->
<section class="welcome_area clearfix" id="home" style="height:100px; background-image: url(img/bg-img/welcome-bg.png)">
</section>
<!-- ***** Welcome Area End ***** -->

<!-- ***** AspnetRun Basic Start ***** -->
<section class="mosh-aboutUs-area section_padding_50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="mosh-about-us-content">
                    <div class="section-heading">
                        <p>Beginner</p>
                        <h2>AspnetRun Basic</h2>
                    </div>
                    <p>One Solution - One Project for web application development with Asp.Net Core & EF.Core. Only one web application project which used aspnetcore components; razor pages, middlewares, dependency injection, configuration, logging. To create websites with minimum implementation of asp.net core based on HTML5, CSS, and JavaScript. You can use this boilerplate for fast implementation, minimum development, bootstrap your idea, create Minimum Viable Product (MVP), idea validation, startup development implementation for a limited time and limited resources with using latest asp.net core and entity framework core.</p>                    
                    <a href="https://github.com/aspnetrun/run-aspnetcore-basic" class="btn mosh-btn mosh-btn-2 mt-50">Source Code</a>
                    <a href="https://github.com/aspnetrun/run-aspnetcore-basic" class="btn mosh-btn mosh-btn-2 mt-50">Article</a>
                    <a asp-page="BuyBook" class="btn mosh-btn mosh-btn-2 mt-50">Download Book</a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="mosh-about-us-thumb wow fadeInUp" data-wow-delay="0.5s">
                    <img src="img/bg-img/basic.gif" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** AspnetRun Basic End ***** -->
<!-- ***** AspnetRun Basic - Real World Start ***** -->
<section class="mosh-aboutUs-area section_padding_50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="mosh-about-us-content">
                    <div class="section-heading">
                        <p>Beginner</p>
                        <h2>AspnetRun Basic - Real World</h2>
                    </div>
                    <p>Implementation of Real-World example in One Solution - One Project for web application development with Asp.Net Core & EF.Core. Only one web application project which used aspnetcore components; razor pages, middlewares, dependency injection, configuration, logging. To create websites with minimum implementation of asp.net core based on HTML5, CSS, and JavaScript. You can use this boilerplate for fast implementation, minimum development, bootstrap your idea, create Minimum Viable Product (MVP), idea validation, startup development implementation for a limited time and limited resources with using latest asp.net core and entity framework core.</></p>
                    <a href="https://github.com/aspnetrun/run-aspnetcore-basic-realworld" class="btn mosh-btn mosh-btn-2 mt-50">Source Code</a>
                    <a href="https://github.com/aspnetrun/run-aspnetcore-basic-realworld" class="btn mosh-btn mosh-btn-2 mt-50">Article</a>
                    <a asp-page="BuyBook" class="btn mosh-btn mosh-btn-2 mt-50">Download Book</a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="mosh-about-us-thumb wow fadeInUp" data-wow-delay="0.5s">
                    <img src="img/bg-img/basic_realworld.gif" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** AspnetRun Basic - Real World End ***** -->
<partial name="_DownloadSamplePartial" />
<!-- ***** AspnetRun Core Start ***** -->
<section class="mosh-aboutUs-area section_padding_50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="mosh-about-us-content">
                    <div class="section-heading">
                        <p>Intermediate</p>
                        <h2>AspnetRun Core</h2>
                    </div>
                    <p>A starter kit for your next ASP.NET Core web application. Boilerplate for ASP.NET Core reference application with Entity Framework Core, demonstrating a layered application architecture with DDD best practices. Implements NLayer Hexagonal architecture (Core, Application, Infrastructure and Presentation Layers) and Domain Driven Design (Entities, Repositories, Domain/Application Services, DTO's...) and aimed to be a Clean Architecture, with applying SOLID principles in order to use for a project template. Also implements best practices like loosely-coupled, dependency-inverted architecture and using design patterns such as Dependency Injection, logging, validation, exception handling, localization and so on.</p>
                    <a href="https://github.com/aspnetrun/run-aspnetcore" class="btn mosh-btn mosh-btn-2 mt-50">Source Code</a>
                    <a href="https://github.com/aspnetrun/run-aspnetcore" class="btn mosh-btn mosh-btn-2 mt-50">Article</a>
                    <a asp-page="BuyBook" class="btn mosh-btn mosh-btn-2 mt-50">Download Book</a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="mosh-about-us-thumb wow fadeInUp" data-wow-delay="0.5s">
                    <img src="img/bg-img/basic.gif" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** AspnetRun Core End ***** -->
<!-- ***** AspnetRun Core - Real World Start ***** -->
<section class="mosh-aboutUs-area section_padding_50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="mosh-about-us-content">
                    <div class="section-heading">
                        <p>Intermediate</p>
                        <h2>AspnetRun Core - Real World</h2>
                    </div>
                    <p>AspnetRunCoreRealWorld is an implementation of base aspnetrun project which written with clean architecture and best practices. The idea is that how to implement real life projects over the base repository i.e. e-commerce domain implemented with full E&E e-commerce web template. AspnetRunRealWorld is an implementation of e-commerce domain with Northwind database.This managed with layered architecture for building modern web applications with latest ASP.NET Core & Web API & EF Core technologies.</p>
                    <a href="https://github.com/aspnetrun/run-aspnetcore-realworld" class="btn mosh-btn mosh-btn-2 mt-50">Source Code</a>
                    <a href="https://github.com/aspnetrun/run-aspnetcore-realworld" class="btn mosh-btn mosh-btn-2 mt-50">Article</a>
                    <a asp-page="BuyBook" class="btn mosh-btn mosh-btn-2 mt-50">Download Book</a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="mosh-about-us-thumb wow fadeInUp" data-wow-delay="0.5s">
                    <img src="img/bg-img/core_realworld.gif" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** AspnetRun Core - Real World End ***** -->
<partial name="_DownloadSamplePartial" />
<!-- ***** AspnetRun Angular Start ***** -->
<section class="mosh-aboutUs-area section_padding_50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="mosh-about-us-content">
                    <div class="section-heading">
                        <p>Advanced</p>
                        <h2>AspnetRun Angular</h2>
                    </div>
                    <p>Enterprise Web Application infrastructure for ASP.NET Core and Angular. Boilerplate for ASP.NET Core + Angular reference application, demonstrating a layered application architecture with DDD best practices. Implements NLayer Hexagonal architecture (Core, Application, Infrastructure and Presentation Layers) and Domain Driven Design (Entities, Repositories, Domain/Application Services, DTO's...) and aimed to be a Clean Architecture, with applying SOLID principles in order to use for a project template. Provide SPA project which also used Angular Best Practices.</></p>
                    <a href="https://github.com/aspnetrun/run-aspnetcore-angular" class="btn mosh-btn mosh-btn-2 mt-50">Source Code</a>
                    <a href="https://github.com/aspnetrun/run-aspnetcore-angular" class="btn mosh-btn mosh-btn-2 mt-50">Article</a>
                    <a asp-page="BuyBook" class="btn mosh-btn mosh-btn-2 mt-50">Download Book</a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="mosh-about-us-thumb wow fadeInUp" data-wow-delay="0.5s">
                    <img src="img/bg-img/basic.gif" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** AspnetRun Angular End ***** -->
<!-- ***** AspnetRun Angular - Real World Start ***** -->
<section class="mosh-aboutUs-area section_padding_50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="mosh-about-us-content">
                    <div class="section-heading">
                        <p>Advanced</p>
                        <h2>AspnetRun Angular - Real World</h2>
                    </div>
                    <p>Real world Enterprise CRM application example of ASP.NET Core + Angular web application. Implemented CRM domain with clean architecture for ASP.NET Core + Angular reference application, demonstrating a layered application architecture with DDD best practices. Implements NLayer Hexagonal architecture (Core, Application, Infrastructure and Presentation Layers) and Domain Driven Design (Entities, Repositories, Domain/Application Services, DTO's...) and aimed to be a Clean Architecture, with applying SOLID principles in order to use for a project template. Provide SPA project which also used Angular Best Practices. </p>
                    <a href="https://github.com/aspnetrun/run-aspnetcore-angular-realworld" class="btn mosh-btn mosh-btn-2 mt-50">Source Code</a>
                    <a href="https://github.com/aspnetrun/run-aspnetcore-angular-realworld" class="btn mosh-btn mosh-btn-2 mt-50">Article</a>
                    <a asp-page="BuyBook" class="btn mosh-btn mosh-btn-2 mt-50">Download Book</a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="mosh-about-us-thumb wow fadeInUp" data-wow-delay="0.5s">
                    @*<img src="img/bg-img/basic_realworld.gif" alt="">*@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** AspnetRun Angular - Real World End ***** -->
<!-- ***** Features Area Start ***** -->
<section class="mosh-about-features-area section_padding_100">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-12 col-md-4">
                <div class="mosh-features-thumb wow fadeIn" data-wow-delay="0.5s">
                    <img src="img/bg-img/features-2.png" alt="">
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="mosh-about-us-content">
                    <div class="section-heading">
                        <p>Github Support</p>
                        <h2>Please support us on Github with contributions</h2>
                    </div>
                    <div class="row">
                        <!-- Single Feature Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-feature-area d-flex">
                                <div class="feature-icon mr-30">
                                    <img src="img/core-img/like.png" alt="">
                                </div>
                                <div class="feature-content">
                                    <h5>Give a Star</h5>
                                    <p>If you like these repositories, lets put a star for us.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Feature Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-feature-area d-flex">
                                <div class="feature-icon mr-30">
                                    <img src="img/core-img/photo-camera.png" alt="">
                                </div>
                                <div class="feature-content">
                                    <h5>Clone or Fork</h5>
                                    <p>To examine codes, clone or fork aspnet repositories</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Feature Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-feature-area d-flex">
                                <div class="feature-icon mr-30">
                                    <img src="img/core-img/settings-2.png" alt="">
                                </div>
                                <div class="feature-content">
                                    <h5>Open Issues</h5>
                                    <p>If you have any doubt, you can directly open issue.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Feature Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-feature-area d-flex">
                                <div class="feature-icon mr-30">
                                    <img src="img/core-img/edit.png" alt="">
                                </div>
                                <div class="feature-content">
                                    <h5>Push Request</h5>
                                    <p>Send us to push requests for fixing our bugs.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="https://github.com/aspnetrun" class="btn mosh-btn mt-50">Check Github Page</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Area End ***** -->
<partial name="_DownloadSamplePartial" />
